@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/* Navbar Section */

.top-nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(22, 21, 21);
  margin: 0;
  padding: 0 150px 0;
}

.top-nav > li {
  margin: 5px;
}

.top-nav > li > a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.navbar > li > a {
  color: #565758;
  text-decoration: none;
  font-weight: 600;
}

.navbar > li > a:hover {
  color: #ec5242;
}

.logo {
  margin-right: 300px;
  margin-left: 150px;
}

.compaings {
  padding-right: 130px;
  padding-left: 100px;
}

.compaings button {
  padding: 10px;
  color: #ec5242;
  border: 4px solid #ec5242;
  background-color: #fff;
  font-weight: 600;
}

.compaings button:hover {
  background-color: #f4e0dd;
  color: black;
}

.hamburger {
  display: none;
}

/* hero section */

#hero-section {
  height: auto;
  background-image: url('./img/Hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.hero-content {
  padding: 100px 0 0 200px;
  background-color: rgba(238, 235, 235, 0.6);
}

.hero-h2 {
  background: linear-gradient(180deg, #ed3c29, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875rem;
  margin: 0;
}

.hero-h1 {
  background-image: url(./img/color.jpg);
  font-size: 5rem;
  font-weight: 900;
  width: 60%;
  margin: 0;
  font-family: 'Cocogoose', sans-serif;
  line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-p {
  font-size: 12px;
  width: 30%;
  height: 20%;
  border: 2px solid white;
  background-color: rgb(238, 235, 235, 0.5);
  padding: 5px 10px;
  color: rgb(102, 104, 104);
  font-weight: 600;
  margin-top: 20px;
}

.hero-h3 {
  font-family: 'Cocogoose', sans-serif;
  font-size: 40px;
  font-weight: 800;
  width: 50%;
  margin-bottom: 0;
  color: #2e2e2e;
}

.bottom-p {
  font-family: 'Cocogoose', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #565758;
  padding-bottom: 50px;
}


/* Main Program section */

#program {
  height: auto;
  text-align: center;
  padding: 100px 200px;
  background-color: #272a31;
  position: relative;
  z-index: 1;
}

#program::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 10px 10px;
  pointer-events: none;
  z-index: -1;
}

.program-h2 {
  color: white;
}

.program-hr {
  width: 50px;
  border-color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  margin: 100px 0;
  overflow-x: hidden;
}

.card {
  background-color: rgba(91, 92, 98, 0.3);
  border-radius: 5px;
  height: auto;
  padding: 60px;
}

.card h3 {
  font-size: 16px;
  margin-top: 0;
  color: #ec5242;
}

.card p {
  margin-bottom: 0;
  font-size: 14px;
  color: #d3d3d3;
}

.bottom-h2 {
  font-size: 1rem;
  font-weight: 100;
  color: rgb(204, 202, 202);
  border-bottom: 1px solid white;
}

/* Artists Section  */

#artists {
  margin: 60px 0 0 0;
  text-align: center;
}

.artist-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 100px 200px;
}

.artist-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.artist-card h3 {
  margin: 0;
}

.artist-card h5 {
  color: #ec5242;
  font-style: italic;
  margin-top: 8px;
}

.float-left {
  float: left;
  margin-right: 20px;
  width: 150px;
  transition: transform 0.3s ease;
}

.float-left:hover {
  transform: scale(1.1);
}

.artist-heading {
  color: #272a31;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.artist-hr {
  width: 25px;
  margin-left: 0;
  border-color: #d3d3d3;
}

.artist-card p {
  color: #4e4c4c;
  font-size: 13px;
}

/* Partners Section */

#partners {
  color: #d3d3d3;
  height: auto;
  text-align: center;
  margin-top: 20px;
  background-color: #272a31;
  padding: 20px 20px;
}

.partners-h2 {
  color: #d3d3d3;
}

.program-logo {
  display: inline-block;
  margin-right: 40px;
  padding: 2px 5px;
}

/* Footer section */

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
}

.text-content {
  text-align: left;
  overflow-x: hidden;
}

.text-content h4 {
  margin-top: 0;
  margin-left: 100px;
  margin-bottom: 0;
  color: #616060;
}

.text-content p {
  margin-bottom: 0;
  margin-left: 100px;
  color: #898888;
}

/* About page styles */

#about-section {
  background-image: url("./img/Hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.about-content {
  background-color: rgba(238, 235, 235, 0.9);
  padding: 100px  100px;
}

.about-h1 {
  font-family: 'Cocogoose', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #ec5242;
}

.about-p {
  border: 1px solid grey;
  width: 50%;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #fff;
  color: #888787;
}

.about-bottom-p {
  width: 50%;
  margin: 20px auto;
  font-size: 14px;
}

.strong {
  text-decoration: underline;
}

/* logo-section styles*/

#logo-section {
  text-align: center;
}

.logo-content {
  padding: 100px  100px;
}

.logo-content h2 {
  font-size: 40px;
}

.logo-p {
  color: #8b8a8a;
  width: 50%;
  margin: 20px auto;
  line-height: 1.5rem;
}

.logo-content img {
  margin-top: 10px;
  width: 20%;
  border: 1px solid rgb(177, 175, 175);
  padding: 0 50px;
}

/* past-events */

#past-events {
  background-color: #f5f2f2;
  text-align: center;
}

.past-content {
  padding: 100px  100px;
}

.past-content h3 {
  font-size: 25px;
}

.past-content p {
  margin-bottom: 5rem;
}

.event-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.event-one {
  background-image: url("./img/events/1.jpg");
  width: 350px;
  height: auto;
  background-size: cover;
}

.event-two {
  background-image: url("./img/events/2.jpeg");
  background-size: cover;
  width: 350px;
  height: auto;
}

.event-div {
  background-color: rgba(252, 96, 6, 0.5);
  padding: 20px 10px;
}

.event-div h5 {
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  padding-top: 40px;
}

.event-div p {
  color: white;
  margin-top: 20px;
}

/* About-footer */

#about-footer {
  background-color: #272a31;
}

.footer-desc {
  font-size: 12px !important;
  color: #d3d3d3 !important;
}

.footer-logo img {
  margin-left: 100px;
}


/* Hamburger styles */

.program-button {
  display: none;
}

.close-icon {
  display: none;
}

.menu-overlay {
  display: none;
}

.about-hero-h2 {
  display: none;
}

.about-partners {
  display: none;
}

/* Mobile Responsive Design styles */

@media (max-width: 768px) {
  .top-nav {
    display: none;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    display: block;
    background-color: rgba(238, 235, 235, 0.6);
    padding: 20px 0 0 20px;
  }

  .hero-content {
    padding: 20px;
  }

  .hero-h1 {
    font-size: 3.5rem;
    width: 100%;
  }

  .hero-h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
  }

  .hero-p {
    width: 95%;
  }

  .hero-h3 {
    width: 100%;
    font-size: 25px;
    font-weight: 900;
  }

  .bottom-p {
    font-size: 14px;
  }


  /* Program-Section */

  #program {
    padding: 20px 20px;
  }

  .grid-container {
    grid-template-columns: auto;
    margin: 20px 0;
    text-align: left;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px 5px;
  }

  .card > * {
    margin: 0;
  }

  .card h3 {
    margin-top: 0;
    flex-basis: 100px;
    font-size: 1rem;
    font-weight: 800;
    padding: 5px;
  }

  .card p {
    font-weight: 800;
  }

  .bottom-h2 {
    display: none;
  }

  .program-button {
    display: block;
    margin: 5% auto;
    padding: 20px 50px;
    font-size: 1rem;
    background-color: #ec5242;
    color: #fff;
    font-weight: 600;
    border: none;
  }

  /*
Artist Styles */

  .artist-container {
    padding: 0;
    display: block;
  }

  .fa {
    color: #ec5242;
    margin-left: 5px;
  }

  .see-more-button {
    width: 90%;
    padding: 20px 10px;
    background-color: #fff;
    border: 0.5px solid grey;
  }


  /* footer-styles */

  .footer-content {
    padding: 0;
    flex: 1;
  }

  .footer-logo img {
    margin-left: 10px;
  }

  .text-content h4 {
    margin: 10px 50px;
  }

  .text-content p {
    margin: 0 50px;
  }





  /* Mobile-menu */

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 27, 27);
    padding: 10px;
    color: white;
  }

  .close-icon {
    color: white;
  }

  .material-icons {
    font-size: 36px !important;
  }

  .menu-li {
    list-style: none;
  }

  .menu-li li a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 40px;
    font-weight: 700;
  }

  .logo {
    margin: 0;
    margin-bottom: 10px;
  }



  /* About Page Responsive Design */

  #partners {
    display: none;
  }

  #footer {
    display: none;
  }

  .hamburger2 {
    position: absolute;
  }

  .about-content {
    background-color: rgba(238, 235, 235, 0.9);
  }

  #about-section {
    text-align: left;
  }

  .about-hero-h2 {
    display: block;
    color: #ec5242;
    font-weight: 100;
    margin: 0;
    text-align: center;
  }

  .about-h1 {
    margin: 0;
    text-align: center;
  }

  .about-p {
    margin: 0;
    width: 100%;
  }

  .about-bottom-p {
    text-align: center;
  }

  .logo-p {
    width: 100%;
  }

  .logo-content {
    padding: 50px 50px;
  }

  .event-container {
    flex-direction: column;
  }

  .past-content p {
    margin-bottom: 2rem;
  }

  .past-content {
    padding: 20px 50px 50px 50px;
  }

  .about-partners {
    display: block !important;
  }

  #about-footer {
    background-color: #fff;
  }

  .footer-desc {
    color: #272a31 !important;
  }

  #footer-img {
    margin-left: 100px;
  }
}
